        * {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* border: 1px solid red; */
        }

        .container {
            width: 100%;
            padding: 70px 4rem;
            background-color: #f3f3f3;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: #000000;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 10vh;
            background-color: #001d3d;
            font-family: 'Inter', sans-serif;
        }

        .logo {
            display: flex;
        }

        .logo img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 5%;
        }

        .logo h4 {
            margin-top: 10px;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 20px;
        }

        .logo h4 span {
            color: #ffc300;
        }

        /* CSS Searchbar */
        .search-bar {
            width: 30%;
            height: 35px;
            background-color: #0d1b2a;
            border-style: solid;
            border-width: 2px;
            border-radius: 40px;
            border-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
        }

        .search-bar:hover {
            border-color: #ffc300;
            transition: all 0.5s ease;
        }

        .search-bar input {
            border: none;
            outline: none;
            background: none;
            font-size: 15px;
            font-weight: 500;
            color: #ffffff;
            width: 80%;
        }

        .search-bar button {
            border: none;
            border-radius: 40px;
            border-color: white;
            outline: none;
            background: none;
            width: 17%;
            height: 35px;
            font-size: 17px;
            color: #ffffff;
            cursor: pointer;
        }

        .search-bar:hover button {
            background-color: #ffc300;
            color: #ffffff;
            transition: all 0.5s ease;
        }

        /* CSS Menu */
        .nav-links {
            display: flex;
            justify-content: space-around;
            width: 30%;
        }

        .nav-links li {
            list-style: none;
        }

        .nav-links a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            padding: 5px 10px;
        }

        .nav-links a.active {
            color: #ffc300;
        }

        .nav-links a:hover {
            background-color: #ffc300;
            color: white;
            border-radius: 5px;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 1036px) {
            nav {
                align-items: center;
            }

            .logo {
                margin-left: 2rem;
            }

            .logo h4 {
                font-size: 0.9rem;
                margin-top: 3.5px;
            }

            .search-bar {
                width: 50%;
                margin-left: 0.8rem;
            }

            .search-bar button {
                margin-right: 5px;
            }
        }

        .hamburger {
            cursor: pointer;
            display: none;
        }

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: white;
        }

        @media(max-width:1036px) {
            .hamburger {
                display: block;
                margin: 0 2rem;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }

            .nav-links {
                position: fixed;
                left: -100%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background-color: #001d3d;
                width: 100%;
                text-align: center;
                transition: 0.3s;
            }

            .nav-item {
                margin: 16px 0;
            }

            .nav-links.active {
                left: 0;
            }
        }

        /* css container-header */
        .container-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90vh;
            background-image: url(img/container-head.jpg);
            background-size: cover;
        }

        /* css content-left */
        .content-left {
            width: 50%;
            height: 100%;
            padding-left: 3rem;
            color: white;
            background: rgba(0, 0, 0, 0.5);
        }

        .content-left h1 {
            font-size: 3rem;
            font-weight: 600;
            margin-top: 26vh;
            margin-bottom: 1rem;
        }

        .content-left p {
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }

        .content-left .btn {
            padding: 1rem 2rem;
            border: none;
            outline: none;
            background: #001d3d;
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }

        .content-left .btn:hover {
            background: #ffc300;
        }

        /* css content-right */
        .content-right {
            width: 50%;
            height: 100%;
            padding: 5rem;
            text-align: right;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
        }

        .content-right h1 {
            margin-top: 15vh;
            font-size: 2rem;
            color: #ffc300;
        }

        .content-right span {
            font-size: 13px;
            font-weight: 300;
            color: #ffc300;
        }

        .content-right q {
            font-size: 12px;
            font-weight: 300;
            color: #fff;
        }

        /* CSS untuk section jelajah */
        .container .judul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .container .judul h3 {
            font-size: 20px;
            font-weight: bolder;
            color: #000000;
            display: flex;
            align-items: center;
            margin-left: 9rem;
        }

        .container .judul h3 img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

        .container .judul h4 {
            margin-right: 9rem;
            color: #3976dc;
            cursor: pointer;
        }

        .container .judul h4:hover {
            color: #ffc300;
        }

        @media screen and (max-width: 1036px) {
            .container {
                padding: 70px 2rem;
            }

            .container-header {
                flex-direction: column;
                background-position: center center;
            }

            .content-left {
                width: 100%;
                height: 50%;
                padding: 2rem;
                text-align: center;
                background: rgba(0, 0, 0, 0);
            }

            .content-left h1 {
                font-size: 2rem;
                margin-top: 20vh;
            }

            .content-left p {
                font-size: 1rem;
            }

            .content-right {
                width: 100%;
                height: 50%;
                padding: 2rem;
                text-align: center;
                background: rgba(0, 0, 0, 0);
            }

            .content-right h1 {
                font-size: 1.5rem;
            }

            .content-right span {
                font-size: 10px;
            }

            .content-right q {
                font-size: 10px;
            }

            .container .judul h3 {
                font-size: 20px;
                margin-left: 2rem;
                font-weight: bolder;
            }

            .container .judul h3 img {
                width: 20px;
                height: 20px;
            }

            .container .judul h4 {
                margin-right: 2rem;
            }

            .container .judul h4:hover {
                color: #ffc300;
            }

            .container hr {
                margin: 1rem 2rem;
            }
        }

        .container hr {
            background-color: #ffc300;
            border: none;
            height: 3px;
            margin-top: 5px;
        }

        .container-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 80%;
        }

        .card {
            width: 200px;
            height: 500px;
            margin: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        .card .img {
            width: 100%;
            height: 300px;
            overflow: hidden;
        }

        .card .img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
        }

        .card:hover .img img {
            transform: scale(1.1);
        }

        .card .content {
            padding: 20px;
        }

        .card .content .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card .content .title h3 {
            font-size: 20px;
            font-weight: 600;
            color: #000000;
        }

        .card .content .title span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc300;
        }

        .card .content .desc {
            margin: 20px 0;
            font-size: 13px;
            font-weight: 400;
            color: #000000;
            line-height: 20px;
            text-align: justify;
        }

        .card .content .button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .card .content .button button {
            padding: 10px 33px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: #001d3d;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.5s;
        }

        .card .content .button button:hover {
            background-color: #ffc300;
        }

        /* Actor Section */
        #actor {
            background-color: #e2e2e2;
        }

        .container-actor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            max-width: 2000px;
        }

        .card-actor {
            display: flex;
            flex-direction: row;
            margin: 1rem 1rem;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .img-actor {
            width: 150px;
            height: 225px;
            border-radius: 10px 0 0 10px;
            overflow: hidden;
        }

        .img-actor img {
            width: 150px;
            height: 225px;
            object-fit: cover;
            object-position: center center;
        }

        .content-actor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            width: 49rem;
            padding: 1rem;
        }

        .title-actor {
            text-align: left;
        }

        .title-actor h3 {
            font-size: 1.5rem;
        }

        .title-actor span {
            font-size: 1rem;
        }

        .desc-actor {
            margin-top: 0.5rem;
            text-align: left;
            font-size: 14px;
        }

        .desc-actor span {
            font-size: 14px;
        }

        .button-actor {
            display: flex;
            justify-content: right;
            margin-top: 0.5rem;
        }

        .button-actor button {
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            border: none;
            border-radius: 5px;
            background-color: #001d3d;
            color: #ffffff;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.5s ease-in-out;
        }

        .button-actor button:hover {
            background-color: #ffc300;
        }

        /* media query */
        @media screen and (max-width: 1036px) {
            .container-card {
                width: 100%;
            }

            .card {
                width: 100%;
                height: 100%;
            }

            .card .img {
                width: 100%;
                height: 100%;
            }

            .card .img img {
                width: 100%;
                height: 100%;
            }

            .card .content .title h3 {
                font-size: 1rem;
            }

            .card .content .title span {
                font-size: 1rem;
            }

            .card .content .desc {
                font-size: 1rem;
            }

            .card .content .button button {
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
            }

            .container-actor {
                width: 100%;
            }

            .card-actor {
                width: 100%;
                height: 100%;
                margin: 1rem 0;
            }

            .img-actor {
                width: 100%;
                height: 23rem;
                border-radius: 10px 0 0 10px;
            }

            .img-actor img {
                width: 100%;
                height: 23rem;
                object-fit: cover;
                object-position: center center;
            }

            .content-actor {
                width: 100%;
                padding: 1rem;
            }

            .title-actor h3 {
                font-size: 1rem;
            }

            .title-actor span {
                font-size: 0.8rem;
            }

            .desc-actor {
                font-size: 0.8rem;
            }

            .desc-actor span {
                font-size: 0.8rem;
            }

            .button-actor button {
                padding: 0.5rem 1rem;
                margin: 0 0.5rem;
                font-size: 0.8rem;
            }
        }

        /* Aside */
        .garis-bawah-judul {
            margin-left: 9rem;
            width: 31%;
        }

        .about-us {
            margin-top: 50px;
        }

        .about-us .judul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .about-us .judul h3 {
            font-size: 24px;
            font-weight: 600;
        }

        .about-us .judul img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .about-us hr {
            margin-top: 10px;
        }

        .about-us .container-about {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .about-us .container-about .content-aboutus-left {
            width: 70%;
            margin-right: 20px;
            padding-left: 9rem;
        }

        .about-us .container-about .content-aboutus-left h1 {
            font-size: 25px;
        }

        .about-us .container-about .content-aboutus-left p {
            font-size: 18px;
            font-weight: 400;
            margin-top: 20px;
        }

        .about-us .container-about .content-aboutus-right {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        .about-us .container-about .content-aboutus-right h1 {
            font-size: 25px;
        }

        .about-us .container-about .content-aboutus-right img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
            text-align: center;
            margin: 1rem 0;
        }

        .about-us .container-about .content-aboutus-right .sosmed {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }

        .about-us .container-about .content-aboutus-right .sosmed a {
            margin-right: 5px;
        }

        .about-us .container-about .content-aboutus-right .sosmed i {
            font-size: 20px;
            color: black;
        }

        .about-us .container-about .content-aboutus-right .data-diri {
            text-align: center;
        }

        .about-us .container-about .content-aboutus-right .data-diri h5 {
            font-size: 18px;
            margin-top: 1rem;
        }

        .about-us .container-about .content-aboutus-right .data-diri p {
            font-size: 17px;
            margin-top: 1rem;
        }

        @media screen and (max-width: 1036px) {
            .about-us .container-about {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .about-us .container-about .content-aboutus-left {
                width: 100%;
                margin-left: 20px;
                margin-bottom: 20px;
                text-align: center;
                padding: 1rem;
                border-radius: 10px;
                background-color: white;
            }

            .about-us .container-about .content-aboutus-right {
                width: 100%;
                padding: 1rem;
                margin-bottom: 20px;
                border-radius: 10px;
                background-color: white;
            }

            .about-us .container-about .content-aboutus-right .sosmed a {
                margin-right: 3px;
            }
        }


        /* footer css */
        footer {
            width: 100%;
            background-color: #001d3d;
            color: #ffffff;
        }

        .footer-bottom {
            width: 100%;
            background-color: #0d1b2a;
            color: #ffffff;
            padding: 1rem 0;
            text-align: center;
            position: bottom;
        }

        .footer-bottom p {
            font-size: 1rem;
            font-weight: 300;
        }